@font-face {
    font-family: 'Acme';
    font-style: normal;
    font-weight: 400;
    src: local('Acme Regular'), local('Acme-Regular'), url(Acme-Regular.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-size: 12px;
    width: 320px;
    height: 480px;
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23c6c9c8' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    margin: 0;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    background: #eee;
    width: 3px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
}

body:not(:hover)::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.4);
}

.hidden {
    display: none;
}

*:focus {
    outline: none;
}

.input {
    position: fixed;
    z-index: 99;
    padding: 10px 20px;
    background-color: #ffdd00;
    width: 100%;
    box-shadow: 0 0 10px rgba(255, 221, 0, 0.6);
}

input {
    font-family: 'Acme', sans-serif;
    text-transform: uppercase;
    border: 0;
    height: 45px;
    font-size: 20px;
    background-color: inherit;
    width: calc(100% - 30px);
    color: #000;
}

input::placeholder {
    color: #827100;
}

input::selection {
    background-color: rgba(255, 255, 255, .99);
    color: #ffdd00;
}

.container {
    position: relative;
    top: 65px;
}

.container .emoji.scaleDown {
    transform: scale(0);
}

.container .results {
    background-color: #FFFFFF;
    z-index: 2;
    height: 100vh;
    width: 100%;
}

.container .results,
.container .list {
    position: absolute;
    top: 0;
    width: 100%;
}

.overflow-hidden {
    overflow-y: hidden;
}

.emoji {
    cursor: pointer;
    transform: scale(1);
    transition: transform .2s ease-in-out;
    font-size: 25px;
    width: calc((100% / 5) - 2px);
    padding: 5px 0;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.emoji:hover {
    background-color: #FFFFFF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16);
    transform: scale(1.2);
}

.emoji:active {
    background-color: #f4f4f4;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

#badge {
    font-family: "Lucida Console", Monaco, monospace;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 6px;
    position: fixed;
    bottom: -3rem;
    left: 0;
    right: 0;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    background-color: #fafafa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    z-index: 98;
}

#badge.active {
    bottom: 0;
}

#badge img {
    width: 16px;
    vertical-align: bottom;
}

#badge .icon::before,
#badge .icon::after {
    content: "";
    position: absolute;
    left: 10px;
    top: 5px;
    border: 1px solid #7d7d7d;
    width: 7px;
    height: 9px;
}

#badge .icon::after {
    margin-top: 3px;
    margin-left: 3px;
    background-color: #FFFFFF;
}